<!--The content below is only a placeholder and can be replaced.-->
<script type="text/javascript">

  $(function() {
    $('div').on('click', function() {
      $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
      $('#enlargeImageModal').modal('show');
    });
  });

</script>

<div style="text-align:center">

  <img width="300" src="../assets/logo.png" style="margin: 30px">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  <div class="container">
    <div class="row">
    <div *ngFor="let mural of murals | async; let i = index"
        class="col-md-3" id="card" style="padding:3">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%" >
      <p> {{mural.title.nl}} {{i}}</p>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    </div>

    </div>
</div>
